* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body {
    position:relative; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ebe1d0 ; color: #0b2e38 ;
    margin: 0;
  }

  header {
    background-color: #609aad;
}
  
  h1 {
    display: inline-block; background-color: #ebe1d0 ; 
    border-radius: 5px;
    border-color: #dacdb8;
    text-align: left; 
    margin-top: 20px; font-size: 35px;
    padding: 5px 5px 5px 10px;
    position: relative; top: 5px; 

    }

 
  header nav { 
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    margin-right: 25px ;  
     list-style: none;
     font-size: 25px;
     position: relative; bottom: 55px;
     
     }

header li {
    display: inline-block;
    margin-left: 25px;
}

header a { text-decoration: underline 3px; 
        color:#0b2e38 ; 
        list-style-type: none;
}

.tropical-photo {
    align-items: center;
    justify-content: center;
    height: 250px;
     width:100%;
     opacity: 65%;
     object-fit: cover;
     position: relative;
     
  }

.banner-insert {
    position: absolute;
    top: 280px;
    right: 60px;
    border: 10px;
    background-color: #dacdb8;;
    border-radius: 2px;
    border-color: #ac9a7c;
    display: inline-block;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    
  }

  .about-me-photo {
    position:absolute;
    border-style:ridge;
    border-color: #0b2e38;
    border-radius: 1px;
    border-bottom: 1px;
    top: 200px; 
    margin-top: 20px;
    margin-left: 35px;
}

  .about-me-section {
    display:flex;
    justify-content: space-between;
    border-left: 5px #0b2e38;

  }

    .about-me-section h1 {
    margin: 100px 0 0 100px;
}

    .about-me-section p {
        position: relative;
        margin-bottom: 50px;
        text-align: center;
        justify-content: center;
           
}

.project-1 {
   display:flex;
   justify-content: space-between;
}
.project-1 img {
    display: flexbox;
    margin-right: 25px;
    border: 3px #609aad;
    background-color: #0b2e38;
    width: 1000px
}

.project-1 a {
    border: 3px #609aad;
}

.project-1 h1 {
    margin: 100px 0 0 100px;

}
.project-row-1 {
    display:flex;
    flex-direction: row;
    gap: 1em;
    justify-content:right;
    border: 20px #0b2e38;

}


.project-row-imgs {
    flex: 1 1 50%;
    border: 20px #0b2e38;
 height: 250px; width: 500px;
 padding: 10px 20px 10px 10px;
 margin: auto;
}


/* .project-row-2 {
    display:flex;
    justify-content: flex-end;
}
 */



  
  

footer {
    display: flex;
}

footer nav {
    flex-direction: row;
    justify-content: right;
    align-items: right;
    margin-right: 25px ;  
     list-style: none;
     font-size: 25px;
     position: relative; bottom: 55px;
    
    }



/* Hex colors: blue #114B5F and Cream #F3E8D2 and Dark Green #1A946F */