* {
    margin:0;
    padding:0;
    box-sizing: -box;
  }
  
  body {
    position:relative; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ebe1d0 ; color: #0b2e38 ;
    margin: 0;
  }

  header {
    background-color: #609aad;
}
  
  h1 {
    display: inline-block; background-color: #ebe1d0 ; 
    text-align: left; 
    margin-top: 20px; font-size: 35px;
    padding: 5px 5px 5px 25px;
    }

 
  header nav { 
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    margin: 0 5px ;  
     list-style: none;
     font-size: 25px;
     
     }

header li {
    display: inline-block;
    margin-left: 25px;
}

header a { text-decoration: underline 3px; 
        color:#0b2e38 ; 
        list-style-type: none;
}

.tropical-photo {
    align-items: center;
    justify-content: center;
    height: 200px;
     width:100%;
     opacity: 65%;
     object-fit: cover;
     
  }
.about-me-photo {
    display:flex;
    position:relative;
    margin-top: 30px;
    margin-left: 15px;
}



  
  

/* Hex colors: blue #114B5F and Cream #F3E8D2 and Dark Green #1A946F */